.navigation .col{
  padding:0;
}

.navigation .container-fluid{
  padding-top: 1%;
  padding-bottom: 0.5%;
  margin-left: 2%;
}

.cart_icon{
  padding: 2px;
}

.taglines h1,
.taglines p,
.taglines a {
  margin-left: 30%;
}

.footer{
  margin-top: 5%;
  background-color: whitesmoke;
}


.footer span{
  font-size: small;
  font-weight: 300;
  text-align: center;
}